# going to make the base files _orig, and not check in the 'saved as' versions
Variables.ipynb


# not using subdirs for the notebooks anymore, but there may be local files generated during development
01_linux_scripting_variables/
02_linux_scripting_capturing_command_output/

# get untracked files out of the way
old/

# generated during pandoc, or exports
*.md
*.doku

# created during notebook saving
.ipynb_checkpoints/

# expanded during installation of tree
tree-1.6.0/

# downloaded during 2nd lesson
Amel_HAv3.1_genomic.gff 
GCF_003254395.2_Amel_HAv3.1_genomic.gff.gz
